@media (max-width: 640px) {
    .splide-container {

    }
}

@media (min-width: 640px) {
    .splide-container {
        width: 100%;
        margin: 0 auto;
        padding: 1rem 0;
        display: flex;
    }
}